/*===== FOOTER =====*/
.footer {
  background-color: var(--color-primary);
}

.copyright {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.copyright p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

.footer-block {
  padding: 40px 0;
}

.footer-block a {
  color: #fff;
}

.footer-block a:hover {
  text-decoration: underline;
}

.footer-block .footer-block-title {
  color: #fff;
  font-size: 125%;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-block .footer-block-title:after {
  content: "";
  display: block;
  height: 2px;
  background: var(--color-primary);
  width: 40px;
  margin-top: 5px;
}

.footer-block .footer-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-block .footer-list>li {
  list-style: none;
  position: relative;
}

.footer-block .footer-list>li>a {
  display: block;
  padding: 6px 0;
}

.footer-block .footer-fanpage {
  margin-bottom: 15px;
  overflow: hidden;
}

.footer-contact {
  position: relative;
  color: #fff;
}
 
.footer-contact .media {
  margin-bottom: 20px;
}

.footer-contact .footer-contact-icon {
  width: 24px;
  padding-top: 3px;
  z-index: 10;
  background: var(--color-primary);
}

.footer-contact .footer-contact-icon .fa {
  width: 17px;
  height: 17px;
  filter: var(--filter-color-white);
}

.footer-contact .footer-contact-title {
  font-size: 110%;
  font-weight: 700;
  margin-bottom: 6px;
}

.footer-contact .footer-contact-text {
  margin-bottom: 6px;
}

.footer-contact .footer-contact-text:last-child {
  margin-bottom: 0;
}

.footer-register {
  position: relative;
  height: 40px;
  margin-bottom: 8px;
}

.footer-register .form-control {
  color: var(--color-border);
  background-color: transparent !important;
  border: none;
  padding-right: 80px;
}

.footer-register .register-toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  background-color: #fff;
  line-height: 38px;
  height: 38px;
  width: 76px;
  text-align: center;
  text-transform: uppercase;
  z-index: 9999;
}

.footer-register-note {
  font-size: 13px;
  color: #555;
  font-style: italic;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .footer-block {
    padding: 20px 0;
  }
}