/*===== CUSTOM FONT ICON =====*/
.fa {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.fa-cart {
  background-image: url(../images/cart.svg);
}
.fa-star {
  background-image: url(../images/star.svg);
}
.fa-star-o {
  background-image: url(../images/star-o.svg);
}
.fa-phone {
  background-image: url(../images/phone-alt.svg);
}
.fa-email {
  background-image: url(../images/envelope.svg);
}
.fa-booking {
  background-image: url(../images/booking.svg);
}
.fa-eye {
  background-image: url(../images/eye-solid.svg);
}
.fa-map {
  background-image: url(../images/map-marker.svg);
}
.fa-clock {
  background-image: url(../images/clock.svg);
}
.fa-clock-regular {
  background-image: url(../images/clock-regular.svg);
}
.fa-check-circle {
  background-image: url(../images/check-circle.svg);
}
.fa-info-circle {
  background-image: url(../images/info-circle.svg);
}
.fa-exclamation-triangle {
  background-image: url(../images/exclamation-triangle.svg);
}
.fa-question-circle {
  background-image: url(../images/question-circle.svg);
}
.fa-user {
  background-image: url(../images/user-circle.svg);
}
.fa-tags {
  background-image: url(../images/tags.svg);
}
.fa-pay {
  background-image: url(../images/pay.svg);
}
.fa-arrow-up {
  background-image: url(../images/arrow-up.svg);
}
.fa-sort-amount-up {
  background-image: url(../images/sort-amount-up.svg);
}
.fa-youtube {
  background-image: url(../images/youtube.svg);
}
.fa-facebook {
  background-image: url(../images/facebook-f.svg);
}
.fa-instagram {
  background-image: url(../images/instagram.svg);
}
.fa-pinterest {
  background-image: url(../images/pinterest-p.svg);
}
.fa-twitter {
  background-image: url(../images/twitter.svg);
}
.fa-linkedin {
  background-image: url(../images/linkedin-in.svg);
}
.fa-tumblr {
  background-image: url(../images/tumblr.svg);
}
.fa-about {
  background-image: url(../images/about-me.svg);
}
