.wrap-product-detail {
  max-width: 1200px;
  margin: auto;

  .article {
    max-width: var(--max-width-content);
    margin: auto;
  }
}
.section-brands{
  padding: 10px 20px;
  background-color: #f8f8f8;

  .box{
    margin-bottom: 0px;
  }
}
.section-product {
  padding: 40px 0px;
  background-color: var(--color-blue);
  background-image: linear-gradient(315deg, #181980 0%, var(--color-primary) 74%);
  margin-bottom: 20px;
}

/* ===== BOX PRODUCT ===== */
.box-product {
  .box-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px 0px;
    border: none;
  }

  .box-title {
    padding: 0px;
    text-transform: uppercase;
  }
}

.box-border.box-news .box-body,
.box-border.box-product .box-body {
  padding: 0px;
}

.box-product.highlight {
  margin-bottom: 0px;
  position: relative;
  background-color: var(--color-secondary);
}

.box-product.highlight .box-header,
.box-product.highlight .box-body {
  z-index: 2;
}

.box-product.highlight .owl-stage,
.box-product.highlight .product-item,
.box-product.highlight .owl-product .item {
  height: 100%;
  display: flex;
}

.box-product.highlight .owl-product .product-item {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.box-product.highlight .owl-product .product-item .card-body {
  padding: 10px;
}

.box-product.highlight .box-header .box-title {
  color: var(--color-white);
  position: relative;
  z-index: 2; 
  margin: unset;
}

.box-product.highlight .box-header {
  padding: 15px 15px 0px 15px;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.box-product.highlight .box-body {
  padding: 15px;
}

.box-product.highlight .box-header ul > li > a {
  color: #fff;
  text-decoration: none !important;
  transition: all 0.25s;
}

.box-product.highlight .box-header ul > li > a:hover {
  color: var(--color-primary);
  background-color: #fff;
}

// ==== PRODUCT LIST ====
 
.checkbox-list {
  display: flex;
  flex-wrap: wrap;
}
.sort-total { 
  margin: 0px;
  margin-right: 20px;
  padding-top: 3px;
}

.product-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-filter {
  background-color: #efefef;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .filter-item {
    padding-bottom: 0px;
    position: relative;
    &::after{
      position: absolute;
      top: 8px;
      right: 0px;
      content: "";
      display: block;
      width: 1px;
      height: 20px;
      background-color: #ccc;
    }
  }
}

.filter-item,
.filter-total {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  margin-right: 8px;
  position: relative;
  padding-bottom: 10px;
  .dropdown-menu {
    padding: 10px;
    min-width: 400px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    border: none;
    &.show {
      top: 5px !important;
    }
    &:before {
      top: -5px;
      left: 25px;

      z-index: -1;
      overflow: hidden;
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      background: #fff;
      transform: rotate(45deg);

      box-shadow: -2px -2px 5px -4px;
    }
  }
  .show-total-items {
    margin-bottom: 20px;
    .show-total-txt {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .title {  
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    white-space: nowrap;

    i {
      margin-left: 5px;
    }
  }
  .filter-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .filter-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
    margin: 8px -10px 0;
    padding: 8px 10px;
    text-align: center;
    a {
      display: flex;
    }
    .btn-filter-close,
    .btn-filter-readmore {
      border-radius: 4px;
      display: inline-block;
      font-size: 14px;
      line-height: 16px;
      margin: 0 5px;
      padding: 10px 0;
      text-align: center;
      width: 170px;
      position: relative;
    }
    .btn-filter-close {
      border: 1px solid #dd1c1a;
      color: #dd1c1a;
    }
    .btn-filter-readmore {
      background-color: #288ad6;
      color: #fff;
    }
  }
  .btn-box {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 8px 9px;
    transition: all 0.25s;

    img {
      display: flex;
      width: auto;
      max-height: 25px;
      max-width: 98%;
      object-fit: contain;
      justify-content: center;
    }

    &:hover,
    &:focus {
      border: 1px solid #2f80ed;
      color: #2f80ed;
    }
  }
}

.filter-total {
  .dropdown-menu {
    width: 900px;
  }
}
.block-hang {
  .dropdown-menu {
    width: 560px;
  }
}

.box-quick-filter {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  a {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    margin-right: 8px;
    margin-bottom: 10px;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    vertical-align: top;
    flex-shrink: 0;

    img {
      vertical-align: middle;
      width: auto;
      height: 20px;
      margin-right: 5px;
    }

    &:hover,
    &:focus {
      border: 1px solid #2f80ed;
    }
  }
}

.product-sort{
  .btn{
    display: flex;
    align-items: center;
    padding: 10px 0px;
  }

  .fa{
    margin-left: 5px;
  }
}
.product-display {
  display: none !important;
  margin-left: 6px;
  margin-right: auto;
}
.product-display .dropdown-select .btn,
.product-display .dropdown-select .dropdown-menu {
  width: 70px;
  min-width: 70px;
}

.product-option-filter{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .form-check-label{
    margin-left: 5px;
  }
}

/*===== PRODUCT ITEM =====*/
.product-item {
  text-align: left;
  border: none;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: var(--margin-bottom);
}

.product-item .product-item-img {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
}

.product-item .product-item-img > a {
  display: block;
}

.product-item .product-item-img > img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product-item .product-item-btn {
  padding: 10px;
  text-align: center;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.product-item .product-item-btn .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item .product-item-btn .btn-buynow {
  position: relative;
  margin-top: -16px;
  font-size: 12px;
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.product-item .product-item-btn .btn-buynow .fa {
  filter: var(--filter-color-grey);
  margin-right: 5px;
}

.product-item .product-item-btn .btn-buynow:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.product-item .product-item-btn .btn-buynow:hover .fa {
  filter: var(--filter-color-white);
}

.product-item .card-body {
  padding: 10px;
}

.product-item .product-item-title {
  line-height: 22px;
  max-height: 44px;
  max-height: 44px;
  overflow: hidden;
  margin-bottom: 5px;
}

.product-item .product-item-price {
  margin-bottom: 0;
}

.product-item .product-item-price .price {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.product-item .product-item-price .old-price {
  font-size: 16px;
  color: #aaa;
  text-decoration: line-through;
  margin-bottom: 0;
}

.product-item .product-item-price .discount {
  position: relative;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--color-white);
  padding: 4px 6px;
  margin-left: 10px;
  background-color: var(--color-red);
  border-radius: 4px;
}

.product-item .product-item-price .discount:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -4px;
  top: 50%;
  margin-top: -5px;
  background-color: var(--color-red);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

/*===== PRODUCT ITEM BUY =====*/
.product-item-buy .product-item-img {
  width: 100px;
  margin-right: 1rem;
}

.product-item-buy .product-item-img > img {
  max-width: 100%;
}

.product-item-buy .product-item-title {
  font-size: 100%;
  font-weight: 400;
}

.product-item-buy .product-item-title > a {
  color: #222;
}

.product-item-buy .product-item-title > a:hover,
.product-item-buy .product-item-title > a:focus {
  color: #fe0000;
  text-decoration: none;
}

/* ===== DETAIL PRODUCT ===== */
.product-summary {
  margin-bottom: var(--margin-bottom);
}

.product-info .product-panel {
  padding: 10px 0;
}

.product-info .product-meta {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.product-info .product-label {
  color: #787878;
}

.product-info .product-name {
  font-size: 175%;
  line-height: 1.3;
}

.product-info .rating {
  margin-right: auto;
  margin-bottom: 8px;
}

.product-info .rating .rating-value {
  font-size: 15px;
}

.product-info {
  .policy {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  li {
    display: flex;
    p {
      margin-bottom: 10px;
    }
    .fa {
      margin-right: 10px;
      filter: var(--filter-color-grey);
    }

    a {
      font-weight: 600;
    }
  }
}
.product-info .product-code {
  color: #333;
  line-height: 1;
  margin-bottom: 8px;
}

.product-info .product-code .fa {
  width: 14px;
  height: 14px;
  filter: var(--filter-color-black);
  margin-right: 4px;
}

.product-info .product-special {
  font-weight: 600;
}

.product-info .product-price {
  margin-bottom: 0px;
}

.product-info .product-price .product-label {
  width: 100px;
}

.product-info .product-price .price {
  color: var(--color-text);
  font-size: 200%;
  font-weight: 700;
  margin-right: 10px;
}

.product-info .product-price .old-price {
  color: #787878;
  text-decoration: line-through;
  font-size: 120%;
}

.product-info .product-price .sale {
  color: #787878;
}

.product-info .product-price .sale-off {
  position: relative;
  color: var(--color-white);
  padding: 4px 6px;
  margin-left: 1rem;
  background-color: var(--color-red);
  border-radius: 4px;
}

.product-info .product-price .sale-off:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -4px;
  top: 50%;
  margin-top: -5px;
  background-color: var(--color-red);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-countdown {
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #fff48f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #ffc107;
  padding: 10px;
}

.product-info .product-countdown-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 100%;
  line-height: 1;
  margin-bottom: 0;
}

.product-info .product-countdown .fa {
  position: absolute;
  left: 0;
  top: 5px;
  width: 24px;
  height: 24px;
  filter: var(--filter-color-grey);
}

.product-info .product-countdown .countdown-timer {
  color: var(--color-red);
  font-weight: bold;
  font-size: 150%;
  margin-left: 10px;
}

.product-info .product-desc {
  border: 1px solid #dfdfdf;
  background-color: #f8f8f8; 
}

.product-info .product-desc p {
  position: relative;
  font-size: 15px;
  padding: 0 0 0 26px !important;
  margin-bottom: 6px;
}

.product-info .product-desc p:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #6d6d6d;
  position: absolute;
  left: 15px;
  top: 6px;
}

.product-info .product-desc p:last-child {
  margin-bottom: 0;
}

.product-info .product-number {
  display: flex;
  flex-direction: column;
}

.product-info .product-number > span {
  margin-right: 6px;
}

.product-info .btn-bigbuynow,
.product-info .btn-bigaddcart {
  margin-top: 8px;
}

.product .social-share > span {
  margin-right: 6px;
}

.product-content {
  margin-top: 1rem;
  padding: 1rem;
}

.product-detail-content.max-height {
  max-height: 500px;
  overflow: hidden;
}

.show-more {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.show-more:before {
  position: relative;
  display: none;
  content: "";
  height: 75px;
  margin-top: -45px;
  background: -webkit-gradient(
    linear,
    0% 100%,
    0% 0%,
    from(rgb(255, 255, 255)),
    color-stop(0.5, rgb(255, 255, 255)),
    to(rgba(255, 255, 255, 0))
  );
}

.product-detail-content.max-height + .show-more:before {
  display: block;
}

.product-item .product-item-img {
  position: relative;
}

.product-item:hover .product-item-img img {
  transform: scale(1.1);
}

.product-item:hover .product-item-btn {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.product-comment-fb {
  margin-top: 1rem;
}

.form-review-button .starrr {
  margin-right: 20px;
}

.product-option > span,
.product-number > span {
  display: block;
  min-width: 100px;
  margin-bottom: 5px;
}

.product-number,
.product-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.product-option > span {
  display: inline-block;
  white-space: nowrap;
}

.product-option-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
}

.product-option-list .container-radio {
  margin-right: 5px;
  margin-bottom: 0px;
  width: unset;
  
  padding: 0px;
}

.product-option-list .container-radio input {
  width: unset;
}

.product-option-list .container-radio input ~ .checkmark {
  position: relative;
  width: unset;
  min-width: 50px;
  height: 34px;
  margin-right: 0px;
  border-radius: 2px;
  padding: 5px 12px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border: 1px solid #efefef;
  overflow: hidden;
  text-align: center;
}

.product-option-list .container-radio:hover input ~ .checkmark,
.product-option-list .container-radio input:checked ~ .checkmark {
  border: 1px solid var(--color-blue);
}

.product-option-list .container-radio:hover input ~ .checkmark::after,
.product-option-list .container-radio input:checked ~ .checkmark::after {
  width: 10px;
  height: 5px;
  top: 2px;
  left: 1px;
  display: block;
}

.product-option-list.color .container-radio .color-value {
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 5px;
  display: block;
  z-index: 1;
}

.col-product {
  display: flex;
}

@media (max-width: 1366px) {
  .col-product {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 991px) {
  .section-product {
    padding: 0px;
    margin-bottom: 10px;

    .box-product {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  .box-product.highlight .box-body {
    padding: 10px;
  }

  .box-product.highlight .box-header .box-title {
    padding: 0px;
    font-size: 20px;
  }

  .row-product {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col-product {
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .product-item .product-item-icon {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
  }

  .product-item .product-item-title {
    font-size: 100%;
    line-height: 20px;
    height: 40px;
    max-height: 40px;
  }

  .product-item .product-item-price .price {
    font-size: 120%;
    font-weight: 700;
  }

  .product-item .product-item-price .old-price {
    font-size: 100%;
  }

  .product-item .product-item-price .discount {
    padding: 2px 4px;
    margin-left: 5px;
  }

  .product-item .product-item-price .discount:before {
    margin-top: -3px;
  }

  .product-gallery {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
  .product-info .product-availability {
    font-size: 120%;
    padding-left: 20px;
  }

  .product-info .product-availability .fa {
    width: 16px;
    height: 16px;
    top: 8px;
  }

  .product-cart,
  .product-total {
    padding: 10px 0;
  }

  .product-item-buy .product-item-img {
    width: 60px;
    margin-right: 5px;
  }

  .product-cart .product-item-buy {
    padding-right: 5px;
  }
}

@media (max-width: 375px) {
}
