:root {
  --font-family: "Quicksand", sans-serif;
  --font-size: 15px;
  --color-text: #111;
  --color-text-hover: #008848;
  --color-primary: #008848;
  --color-primary-hover: #006435;
  --color-white: #fff;
  --color-orange: #fe0000;
  --color-red: #ed1c24;
  --color-blue: #288ad6;
  --color-yellow: #fadf48;
  --color-border: #ddd;
  --color-border-search: var(--color-primary);
  --color-bgheader: var(--color-primary);
  --color-bgmenu: var(--color-primary);
  --color-bgmenu-hover: rgba(43, 40, 58, 0.16);
  --color-menu: var(--color-white);
  --color-menu-second: #111;
  --color-bgbody: #fff;  
  --color-bgevent: #00743e;
  --color-bgbox: #008848;  
  --border-radius: 5px;
  --margin-bottom: 20px;

  --filter-color-primary: invert(33%) sepia(75%) saturate(3222%) hue-rotate(138deg) brightness(84%) contrast(101%);
  --filter-color-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(282deg) brightness(103%) contrast(103%);
  --filter-color-black: invert(0%) sepia(3%) saturate(3769%) hue-rotate(11deg) brightness(84%) contrast(87%);
  --filter-color-orange: invert(42%) sepia(72%) saturate(1522%) hue-rotate(358deg) brightness(100%) contrast(108%);
  --filter-color-red: invert(11%) sepia(77%) saturate(6961%) hue-rotate(353deg) brightness(112%) contrast(86%);
  --filter-color-yellow: invert(99%) sepia(31%) saturate(7464%) hue-rotate(348deg) brightness(94%) contrast(99%);
  --filter-color-grey: invert(33%) sepia(9%) saturate(9%) hue-rotate(350deg) brightness(94%) contrast(92%);
  --filter-color-greyish: invert(50%) sepia(45%) saturate(0%) hue-rotate(150deg) brightness(98%) contrast(89%);
}

@media (max-width: 1366px){
 
}
 
@media (max-width: 991px){
    :root{
        --margin-bottom:10px;
    }
}
 
@media (max-width: 768px){
    
}
 
@media (max-width: 575px) {
  
}

@media (max-width: 375px) {
     
}
